/* OPEN FORM*/
/* The popup form - hidden by default */
.form-popup {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: none;
    background-color: rgb(0, 0, 0,0.9);
}

/* Add styles to the form container */
.form-container {
  width: 300px;
  height: 420px;
  padding: 10px;
  background-color:white; 
  position: relative;
  margin: 0 auto;
  top: 15%;
  left: 0%;
  border: 5px solid yellow;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: yellow;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #004d3d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #004d3d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* OPEN RESIGITER FORM*/
  /* Button used to open the contact form - fixed at the bottom of the page */
  .register-button {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .register-popup {
      width: 100%;
      height: 120%;
      top: 0;
      position: absolute;
      display: none;
      background-color: rgb(0, 0, 0,0.9);
  }
  
  /* Add styles to the form container */
  .register-container {
    max-width: 650px;
    height: 580px;
    padding: 10px;
    background-color:white; 
    position: relative;
    margin: 0 auto;
    top: 15%;
    border: 5px solid yellow;
  }
  
  /* Set a style for the submit/login button */
  .register-container .btn {
    background-color: #004d3d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    margin-bottom:10px;
    opacity: 0.8;
  }

  
  /* Add a red background color to the cancel button */
  .register-container .cancel {
    background-color: #004d3d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .register-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  /* Full-width input fields */
.register-container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

