.header {
    height:60px;
    overflow: hidden;   
    background-color: #00e6b8;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: white;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 400px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  #footer{
    color: white;
    text-align: center;
  }
  
/* cross */

  body {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    float: left;    
    padding: 10px;
    background: #1a6880d5;
    color: white;
    font-size: 17px;
    border: 1px solid #CCC;
    border-left: none;
    cursor: pointer;
}

button:hover {    
    background: #2699bd;
}

#header{
    height:60px;
    overflow: hidden;   
    background: #1a6880d5;    
}

#topMeun{   
    height:60px;
    width:1000px;  
    left: 30%;    
    position: relative;
}

/* login and register */
#topMeunR{  
  height:60px;
  width:1000px;    
  left: 50%;    
  position: relative;
}

#logo{
    float: left;
    height:60px;
    width:60px;
    top: 50vh;
    left: 10vh;
}

.topMeun a{
    float: left;   
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topMeun a:hover {    
    background:#bbcbd1d5;
    color: white;
    color: black;
}

.topMeun a.active {
    background: #25a4cad5;
    color: white;
}

#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}

#historytable, td {
  border: 1px solid black;
}

.centerdiv {
  border: 3px solid #73AD21;
  background-color: blanchedalmond;
  display: inline-block;
  padding: 1%;
}

.centerdiv2 {
  display: inline-block;
  padding: 1%;
  background-color: blanchedalmond;
}

.word {
  display: inline-block;
  padding: 1%;
  background-color: blanchedalmond;
}

.uploadvideo{
  border: 3px solid #73AD21;
  display: inline-block;
}

.datebutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body {
  background-image: url('../img/running.jpg');
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.one{
  width: 100%;
  height: 200px;
  float: left;
}
